    <div class="panel-heading">
      <strong><%= message.user.name %> wrote:</strong> <br>
      <%= message.created_at %>
    </div>
    <div class="panel-body">
      <%= message.body %>
    </div>
