<% if current_user.approved_students.length > 0 %>
<h2>My Students</h2>
  <div class="list-group">
  <h4 class="list-group-item">Students:</h2>
  <% current_user.approved_students.each do |student| %>
    <div class="list-group-item"><%= link_to "#{student.name}", student %> -
      <%= render :partial => 'messages/message_button', :locals => {:recipient => student} %>
    </div>
  <% end %>
  </div>
<% end %>
