<% if current_user.teachers.length > 0 %>
  <h2>My Teachers</h2>
  <div class="list-group">
    <h4 class="list-group-item">Teachers:</h2>
    <% current_user.approved_teachers.each do |teacher| %>
      <div class="list-group-item"><%= link_to "#{teacher.name}", teacher %> -
        <%= render :partial => 'messages/message_button', :locals => {:recipient => teacher} %>
      </div>
  <% end %>
</div>
<% end %>
<hr>
<h2>Pending Requests</h2>
<% if current_user.teachers.length >0 %>
  <div class="list-group">
    <% current_user.unapproved_teachers.each do |teacher| %>
      <div class="list-group-item"><%= link_to "#{teacher.name}", teacher %> -
        Awaiting Approval
      </div>
    <% end %>
  </div>
<% else %>
    <p>You have no pending requests</p>
<% end %>
