<hr>
<h2>My Requests</h2>
<% if @pending_requests.length >0 %>
  <% @pending_requests.each do |request| %>
    <%= "You have a connection request from #{request.student.first_name}" %>

    <%= button_to "Approve!", connection_path(request), :controller => "connections", :action => "update", :method => "patch", :connections => {:approved => true} %>

  <% end %>
<% else %>
<%= "You have no new requests" %>
<% end %>
