<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @teacher.first_name %>!</h1>
    <p>
    You have a new connection request on Edifi!<br>
    </p>
    <p>
      We appreciate your ability to teach all the things.
    </p>
  </body>
</html>
