<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Edifi, <%= @user.first_name %>!</h1>
    <p>
    You have successfully signed up!<br>
    Your username is: <%= @user.user_name %>.<br>
    </p>
    <p>
      We appreciate your desire to learn all the things.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
