<% if @user.teacher? && @user.no_connections_with?(current_user) %>

  <%= button_to "Connect", { :controller => "connections",:action => "create", :connections => {:teacher_id => @user.id, :student_id => session[:user_id]}} %>

<% elsif @user.teacher? && @user.connected_and_approved?(current_user) %>

  <%= render "lessons/lesson_scheduler" %>

<% else %>

  <p><%= "Awaiting connection approval from #{@user.name}."%></p>

<% end %>
