<div class="skills_selector">
  <%= form_for user, url: {:action => 'becometeacher'}, method: :post do |f|%>
    <%= f.collection_check_boxes(:skill_ids, Skill.all, :id, :name, { checked: user.skills.map(&:to_param) }  ) %>
    <%= f.submit "Teach Things!" %>
  <% end %>
</div>
