<h1><%= "Hi there, #{current_user.first_name}"  %></h1>

<!-- Will add additional functionality -->
<% if current_user.teachers.length > 0 %>
  <h3>You have connected with the following teachers:</h3>
  <ul>
  <% current_user.tutorials.each do |tutorial|  %>

    <li><%= link_to "#{tutorial.teacher.name}", tutorial.teacher %></li>


    <% if !Conversation.between(current_user.id, tutorial.teacher.id).present? %>

      <%= link_to "Start a conversation", conversations_path(:controller => "conversations", :action => "create", :conversations => {:sender_id => current_user.id, :recipient_id => tutorial.teacher.id}), class: "btn btn-success btn-xs", :method=> :post %>

    <% else %>
      <% conversation = Conversation.between(current_user.id, tutorial.teacher.id).first %>
      <%= link_to "See conversation", conversation_path(conversation), class: "btn btn-success btn-xs" %>

    <% end %>
  <% end %>
  </ul>
<% end %>
