<h2>Search fo Skillz</h2>
<%= render "skills/skillsearch" %>

<% if current_user.teacher? %>
  <%= render "teacher_homepage" %>
  <%= render "user_homepage" %>
<% else %>
  <%= render "user_homepage" %>
<% end %>
