<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2 class="text-center cs-heading"><%= current_user.name %></h2>
        <% if current_user.attachment.url == nil %>
          <%= image_tag("defaultprofile.jpg", :class => "img-circle img-center") %>
        <% else %>
          <%= image_tag(current_user.attachment.url, :class => "img-circle img-center") %>
        <% end %>
      </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <%= render "inbox" %>
    </div>
  </div>
</div>