<h1> <%= @user.user_name %> </h1>


<h2> Bio:</h2>
<p>
  <% if @user.bio%>
    <%= @user.bio  %>
  <% else %>
     No Bio :(
  <% end %>
</p>

<!-- <h3>Classes: </h3>
  add stuff here eventually -->

<% if @user.teacher? %>
  <h3>Skills I Teach:</h3>
  <%= render partial: "teacher_skills", locals: {teacher: @user} %>
  <!-- eventually, be able to sign up for these classes and make a connection, scheduling will go here -->
<% end %>
