<h1> <%= @user.user_name %> </h1>


<h2> Bio:</h2>
<p>
  <% if @user.bio%>
    <%= @user.bio  %>
  <% else %>
     No Bio :(
  <% end %>
</p>

<% if @user.teacher? %>
<%= render "teacher_skills" %>
<% end %>
<!-- <h3>Classes: </h3>
  add stuff here eventually --> 

<% if @user.teacher? && !@user.connected?(session[:user_id]) && @user.id != session[:user_id]%>
<!-- Connect with this teacher and should only be able to see the skills  -->
<%= button_to "Connect", { :controller => "connection_requests",:action => "create", :connection_requests => {:teacher_id => @user.id, :student_id => session[:user_id]}} %>

<%else @user.teacher? && @user.connected?(session[:user_id]) %>
<!--  Add messaging feature and calender and all the other fancy stuff here. -->

<h2> Messaging and calender goes here </h2>
  
<% end %>
