<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center cs-heading"> <%= @user.user_name %> </h2>
        <% if @user.attachment.url == nil %>
          <%= image_tag("defaultprofile.jpg", :class => "img-circle img-center") %>
        <% else %>
          <%= image_tag (@user.attachment.url, :class => "img-circle img-center") %>
        <% end %>
      <div class="text-center">
      </div>
    </div>
    <div class="col-md-8">
      <br><br><br><br>
      <%= render "show" %>
    </div>
  </div>
</div>
