<h1>Sign up as a teacher!</h1>

<h2>What skills can you teach?</h2>
  <%= render "skill_selector"%>

<h2 class="new_skill_form">Don't see your skill? add one!</h2>
  <%= render partial: "skills/form", locals: {return_to: @_request.original_url}%>
