<h1>All the Skills</h1>
<%= link_to "Create a new skill", new_skill_path %>
<ul>
  <% @skills.each do |skill| %>
   <!--Not showing the skill name. Need to work on that later-->
    <li><%= link_to skill.name, skill %></li>
  <% end %>
</ul>
