<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center text-light">There's a whole world of learning to explore.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright">&copy; 2016 Our Project Team. All Rights Reserved. Made with <3 at the Flatiron School</p>
      </div>
    </div>
  </div>
</footer>