<h1>Welcome to Softskillz</h1>
<p>Learning to spell is not one of our skillz.</p>

<h2>Search fo Skillz</h2>
<%= render "skills/skillsearch" %>


<% if !logged_in? %>

<%= render "users/form" %>

<% end %>
