<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#availabilityModal">
 Set My Availability
</button>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="availabilityModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="availabilityModalLabel"><%= @user.name %>'s Availability</h4>
     </div>
     <div class="modal-body availability-form">
       <%= render 'users/availability/form' %>
       <div class="availability_render">
         <%= render partial: 'users/availability/display_availability', locals:{availability:@user.display_availability} %>
       </div>

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>
