<section class="page-block" id="gallery">
  <div class="container">
    <div class="row page-header">
      <h2>All Subjects</h2>
      <span>Click to learn more</span>
    </div>
  <%= render "index" %>
  </div>
</section>
