<% if current_user.teacher? %>
  <%= render "lessons/pending_appointments" %>
  <div id = "my_appointments">
    <%= render "lessons/my_appointments" %>
  </div>
<% end %>
<%= render "lessons/my_lessons" %>
