<div class="col-md-2">
  <%= button_to "#{lesson.start_time.strftime("%H:%M")}",
                    lessons_path(lesson: {connection: lesson.connection.id,
                                          skill: lesson.skill.id,
                                          start_time: lesson.start_time,
                                          end_time: lesson.end_time}),
                    class: "btn btn-primary", id: "lesson_button", remote: true%>
</div>
