<h5><%=  lesson.title(current_user)%></h5>
<p>Starts: <%= lesson.start_time.strftime("%m/%d/%Y, %H:%M") %></p>
<p>Ends: <%= lesson.end_time.strftime("%m/%d/%Y, %H:%M") %></p>
<%= link_to "See the Lesson", lesson, class: "btn btn-primary btn-xs" %>


