<div id="searchfield" class = "form-inline">
   <%= form_tag skillsearch_path, class: "form-inline" do%>
     <input type="text" name="query" placeholder="Search for Skills" class="form-control input-md" id="autocomplete">
   <% end %>
</div>
